body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.main_hero {
    margin-top: 20vh;
}

h1 {
    text-align: center;
    margin-bottom: 5vh;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #b8ecfc;
}

.list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 8vh;
    margin: 1.5em;
}

.navbar {
    text-decoration: none;
    color: #000;
}

nav.navbar ul {
    padding: 0;
}

nav.navbar ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.navbar ul li a:hover {
    color: red;
    text-decoration: underline;
}

section {
    max-width: 800px;
    transition: background-color 0.4s ease;
    border: 0.2em solid #0F546A;
    padding: 5vw;
    box-sizing: border-box;
    margin: 0 auto 20vh auto;
}

hr {
    margin-bottom: 5vh;
}

section p {
    line-height: 1.5em;
}


footer p {
    text-align: center;
}

/* Change State */
.active {
    background-color: #1D81A1;
    color: #fff;
}

.highlight {
    color: red;
    text-decoration: underline;
}